@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.whole-page{
    background-color: #8F9D79;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.navbar{
    background-color: #9D5555;
}

.card{
    width: 100%;
}

.email-open{
    background-color: #C6D2B3;
}

.greeting{
    text-align: center;
    font-size: 25px;
    font-family: 'Quicksand';
}

.search-button{
    color: black;
    border-radius: 25%;
}

.draft{
    background-color: #9D5555;
    border-radius: 15%;
}

.draft-div{
   padding: 10px;
}

.offcanvas-body{
    background-color: #8F9D79;
}

.offcanvas-header{
    background-color: #9D5555;
}

.email-open{
    flex-direction: column;
}

#reply-box{
    resize: none;
}

.send{
    border-radius: 25%;
    margin: 10px;
    background-color: #9D5555;
    align-self: flex-end;
    width: 100px;
    height: 40px;
}

.email-list{
    overflow: auto;
}