.navbar{
    background-color: #9D5555;
}

.card{
    width: 100%;
}

.greeting{
    text-align: center;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    background-color: #8F9D79;
}

.button{
    color: black;
    border-radius: 15%;
}

.compose{
    background-color: #9D5555;
    border-radius: 15%;
}

.options{
    margin: 10px;
    z-index: 3;
    position: fixed;
}
